*.ini
.git/objects/ad/ff3713ec3c6caedc26d755f7454f8933107e13
ads/VideoTutoriaPOO-resolucao-AD1-2019.2.mp4
video_aulas/Programação_com_Interfaces_Gráficas_-_Aula_1.mp4
video_aulas/Programação_com_Interfaces_Gráficas_-_Aula_2.mp4
ads/VideoTutoriaPOO-resolucao-AD1-2019.2.mp4
